---
layout: layout
title: "Martin Shwalbe"
---
<h2>Posts</h2>
<table class="table table-striped">
    <tbody>
    {% for post in site.posts %}
        {% if post.categories contains 'blog' %}
            <tr>
                <td>
                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    <i>{{ post.summary }}</i>
                    <p>
                        <small>
                            {{ post.date | date: "%B %e, %Y" }} .
                            {% for cat in post.categories %}
                                <a href="#">{{ cat[0] }}</a>
                            {% if forloop.last != true %}
                            {% endif %}
                            {% endfor %} .
                            <a href="http://hounddog.github.com{{ post.url }}#disqus_thread"
                               data-disqus-identifier="{{ post.url }}"></a>
                        </small>
                    </p>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>

