<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a style="float:right;margin:5px 15px;" href="/feed/feed.rss" title="RSS Feed"><img src="/img/feed-icon-28x28.png" alt="RSS Feed"/></a>

            <a class="brand" href="http://hounddog.github.com">Martin Shwalbe</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="">
                        <a href="http://hounddog.github.com">Home</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="">
                        <a href="http://github.com/hounddog" target="_blank">GitHub</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="">
                        <a href="http://linkedin.com/in/mshwalbe" title="Go to Martin Shwalbe's LinkedIn profile" target="_blank">LinkedIn</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="">
                        <a href="http://www.twitter.com/mshwalbe" title="Martin Shwalbe's Twitter profile" target="_blank">Twitter</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="">
                        <a href="/resume" title="Martin Shwalbe's Resume">Resume</a>
                    </li>
                    <li class="divider-vertical"></li>
                </ul>
            </div>
        </div>
    </div>
</div>